
.m-form textarea::-webkit-input-placeholder, .m-form input::-webkit-input-placeholder {
color:#c1c4c5!important
}
.m-form textarea:-moz-placeholder, .m-form input:-moz-placeholder {
color:#c1c4c5!important
}
.m-form textarea::-moz-placeholder, .m-form input::-moz-placeholder {
color:#c1c4c5!important
}
.m-form textarea:-ms-input-placeholder, .m-form input:-ms-input-placeholder {
color:#c1c4c5!important
}
.m-form input {
	height:40px
}
.m-form input[type="checkbox"] {
	margin-top:-4px
}
.m-form textarea {
	height:120px;
	padding:9px
}
.m-form__inline .m-form--label {
	display:inline;
	float:none;
	padding-right:3px
}
.m-form select {
	margin:0
}
.m-form__no-labels .m-form--label {
	display:none
}
.m-form--input-prepend, .m-form--input-append {
	display:inline-block;
	font-size:0;
	white-space:nowrap;
	vertical-align:middle
}
.m-form--input-prepend input, .m-form--input-append input {
	vertical-align:top!important
}
.m-form--input-prepend--add-on, .m-form--input-append--add-on {
	display:inline-block;
	width:auto;
	height:40px;
	min-width:18px;
	padding:5px 6px;
	font-size:14px;
	line-height:40px;
	text-align:center;
	text-shadow:0 1px 0 #fff;
	background-color:#eee;
	border:1px solid #ccc;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.m-form--input-prepend--add-on {
	border-radius:4px 0 0 4px;
	margin-right:-1px
}
.m-form--input-prepend input {
	border-radius:0 4px 4px 0!important
}
.m-form--input-append--add-on {
	border-radius:0 4px 4px 0;
	margin-left:-1px
}
.m-form--input-append input {
	border-radius:4px 0 0 4px!important
}
.m-form__labels-in-inputs .m-form--group {
	position:relative;
	margin-bottom:16px
}
.m-form__labels-in-inputs .m-form--label {
	font-family:'Gotham A', 'Gotham B';
	font-weight:700!important;
	font-style:normal!important;
	position:absolute;
	top:0;
	left:16px;
	width:auto;
	padding-top:13px;
	pointer-events:none;
	font-size:14px;
	line-height:14px
}
.m-form__labels-in-inputs .m-form--controls {
	margin-left:0
}
.m-form__account--field {
	position:relative
}
.m-form__account--field label {
	text-transform:uppercase;
	color:#8f9396;
	font-size:12px
}
.m-form__account--field input, .m-form__account--field textarea {
	padding-left:150px;
	width:100%
}
.m-form__account--field--forgot {
	position:absolute;
	bottom:10px;
	right:10px;
	background:url(//static0.montagebook.com/images/modules/form/forgot-password.png) left top no-repeat;
	width:18px;
	height:18px;
	text-indent:-119988px;
	overflow:hidden;
	text-align:left;
	cursor:pointer
}
.m-form--popup {
	background-color:#F1F1F1;
	border-radius:4px;
	width:400px;
	height:400px
}
.m-form--popup a:not(.m-button) {
color:#00bfaf
}
.m-form--popup .m-form--group {
	float:none
}
.m-form--popup .m-form--error {
	padding:5px;
	display:block
}
.m-form--popup .m-form__account--field input, .m-form--popup .m-form__account--field textarea {
	padding-left:135px
}
.m-form--popup.is-success .m-form--popup--success {
	display:block
}
.m-form--popup.is-success .m-form--popup--main {
	display:none
}
.m-form--popup--main--body {
	padding:22px 20px;
	height:332px;
	-webkit-box-shadow:0 -3px 9px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 -3px 9px 0 rgba(0, 0, 0, 0.5);
	box-shadow:0 -3px 9px 0 rgba(0, 0, 0, 0.5)
}
.m-form--popup--main--body h2 {
	font-size:16px;
	width:280px;
	line-height:1.5;
	margin:0 auto 14px;
	text-align:center
}
.m-form--popup--main--body small {
	font-size:13px;
	display:block;
	margin:-4px 0 16px;
	text-align:center
}
.m-form--popup--main--body .m-form--group:last-of-type {
	margin-bottom:0
}
.m-form--popup--main--footer {
	background-color:#D5D7D9;
	padding:16px 20px;
	height:32px;
	border-radius:0 0 4px 4px
}
.m-form--popup--main--footer--button {
	float:right
}
.m-form--popup--success {
	display:none;
	padding-top:67px;
	width:100%;
	font-size:16px
}
.m-form--popup--success div, .m-form--popup--success small, .m-form--popup--success button {
	display:block;
	text-align:center;
	margin:0 auto
}
.m-form--popup--success div {
	margin-top:30px
}
.m-form--popup--success small {
	margin-top:14px
}
.m-form--popup--success button {
	margin-top:50px
}
.m-form--popup--success small {
	color:#8f9396
}
input.m-button, .m-form input.m-button__primary, input.m-button__primary, input.m-button__secondary, input.m-button__plain, input.m-button__plain-on-hover, input.m-button__danger, input.m-button__naked, input.m-button__naked:disabled, input.m-button__facebook, input.m-button__twitter, .m-button, .m-form .m-button__primary, .m-button__primary, .m-button__secondary, .m-button__plain, .m-button__plain-on-hover, .m-button__danger, .m-button__naked, .m-button__naked:disabled, .m-button__facebook, .m-button__twitter {
	border-radius:4px;
	font-family:'Gotham A', 'Gotham B';
	font-weight:700!important;
	font-style:normal!important;
	cursor:pointer;
	font-size:14px;
	height:32px;
	line-height:32px;
	outline:none;
	padding:0 20px;
	text-transform:uppercase;
	text-decoration:none;
	display:inline-block;
	white-space:nowrap;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
input.m-button.is-disabled, .m-form input.is-disabled.m-button__primary, input.is-disabled.m-button__primary, input.is-disabled.m-button__secondary, input.is-disabled.m-button__plain, input.is-disabled.m-button__plain-on-hover, input.is-disabled.m-button__danger, input.is-disabled.m-button__naked, input.is-disabled.m-button__facebook, input.is-disabled.m-button__twitter, input.m-button:disabled, .m-form input.m-button__primary:disabled, input.m-button__primary:disabled, input.m-button__secondary:disabled, input.m-button__plain:disabled, input.m-button__plain-on-hover:disabled, input.m-button__danger:disabled, input.m-button__naked:disabled, input.m-button__facebook:disabled, input.m-button__twitter:disabled, input.m-button:disabled:hover, .m-form input.m-button__primary:disabled:hover, input.m-button__primary:disabled:hover, input.m-button__secondary:disabled:hover, input.m-button__plain:disabled:hover, input.m-button__plain-on-hover:disabled:hover, input.m-button__danger:disabled:hover, input.m-button__naked:disabled:hover, input.m-button__facebook:disabled:hover, input.m-button__twitter:disabled:hover, .m-button.is-disabled, .m-form .is-disabled.m-button__primary, .is-disabled.m-button__primary, .is-disabled.m-button__secondary, .is-disabled.m-button__plain, .is-disabled.m-button__plain-on-hover, .is-disabled.m-button__danger, .is-disabled.m-button__naked, .is-disabled.m-button__facebook, .is-disabled.m-button__twitter, .m-button:disabled, .m-form .m-button__primary:disabled, .m-button__primary:disabled, .m-button__secondary:disabled, .m-button__plain:disabled, .m-button__plain-on-hover:disabled, .m-button__danger:disabled, .m-button__naked:disabled, .m-button__facebook:disabled, .m-button__twitter:disabled, .m-button:disabled:hover, .m-form .m-button__primary:disabled:hover, .m-button__primary:disabled:hover, .m-button__secondary:disabled:hover, .m-button__plain:disabled:hover, .m-button__plain-on-hover:disabled:hover, .m-button__danger:disabled:hover, .m-button__naked:disabled:hover, .m-button__facebook:disabled:hover, .m-button__twitter:disabled:hover {
	color:#8f9396;
	cursor:default;
	opacity:.4;
	text-shadow:none
}
input.m-button.is-loading, .m-form input.is-loading.m-button__primary, input.is-loading.m-button__primary, input.is-loading.m-button__secondary, input.is-loading.m-button__plain, input.is-loading.m-button__plain-on-hover, input.is-loading.m-button__danger, input.is-loading.m-button__naked, input.is-loading.m-button__facebook, input.is-loading.m-button__twitter, input.m-button.is-loading:hover, .m-form input.is-loading.m-button__primary:hover, input.is-loading.m-button__primary:hover, input.is-loading.m-button__secondary:hover, input.is-loading.m-button__plain:hover, input.is-loading.m-button__plain-on-hover:hover, input.is-loading.m-button__danger:hover, input.is-loading.m-button__naked:hover, input.is-loading.m-button__facebook:hover, input.is-loading.m-button__twitter:hover, input.m-button.is-loading:active, .m-form input.is-loading.m-button__primary:active, input.is-loading.m-button__primary:active, input.is-loading.m-button__secondary:active, input.is-loading.m-button__plain:active, input.is-loading.m-button__plain-on-hover:active, input.is-loading.m-button__danger:active, input.is-loading.m-button__naked:active, input.is-loading.m-button__facebook:active, input.is-loading.m-button__twitter:active, .m-button.is-loading, .m-form .is-loading.m-button__primary, .is-loading.m-button__primary, .is-loading.m-button__secondary, .is-loading.m-button__plain, .is-loading.m-button__plain-on-hover, .is-loading.m-button__danger, .is-loading.m-button__naked, .is-loading.m-button__facebook, .is-loading.m-button__twitter, .m-button.is-loading:hover, .m-form .is-loading.m-button__primary:hover, .is-loading.m-button__primary:hover, .is-loading.m-button__secondary:hover, .is-loading.m-button__plain:hover, .is-loading.m-button__plain-on-hover:hover, .is-loading.m-button__danger:hover, .is-loading.m-button__naked:hover, .is-loading.m-button__facebook:hover, .is-loading.m-button__twitter:hover, .m-button.is-loading:active, .m-form .is-loading.m-button__primary:active, .is-loading.m-button__primary:active, .is-loading.m-button__secondary:active, .is-loading.m-button__plain:active, .is-loading.m-button__plain-on-hover:active, .is-loading.m-button__danger:active, .is-loading.m-button__naked:active, .is-loading.m-button__facebook:active, .is-loading.m-button__twitter:active {
	position:relative;
	background-color:rgba(0, 0, 0, 0)!important;
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, transparent), color-stop(100%, transparent));
	background-image:-webkit-linear-gradient(transparent, transparent);
	background-image:-moz-linear-gradient(transparent, transparent);
	background-image:-o-linear-gradient(transparent, transparent);
	background-image:linear-gradient(transparent, transparent);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border:1px solid #c2c5c8;
	text-indent:-119988px;
	overflow:hidden;
	text-align:left;
	text-shadow:none;
	cursor:default
}
input.m-button.is-loading:after, .m-form input.is-loading.m-button__primary:after, input.is-loading.m-button__primary:after, input.is-loading.m-button__secondary:after, input.is-loading.m-button__plain:after, input.is-loading.m-button__plain-on-hover:after, input.is-loading.m-button__danger:after, input.is-loading.m-button__naked:after, input.is-loading.m-button__facebook:after, input.is-loading.m-button__twitter:after, .m-button.is-loading:after, .m-form .is-loading.m-button__primary:after, .is-loading.m-button__primary:after, .is-loading.m-button__secondary:after, .is-loading.m-button__plain:after, .is-loading.m-button__plain-on-hover:after, .is-loading.m-button__danger:after, .is-loading.m-button__naked:after, .is-loading.m-button__facebook:after, .is-loading.m-button__twitter:after {
	background-position:0 -152px;
	width:16px;
	height:16px;
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-8px;
	margin-top:-8px;
	content:""
}
.m-form .m-button__primary, .m-button__primary {
	background-color:#00bfaf;
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.05)));
	background-image:-webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
	background-image:-moz-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
	background-image:-o-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
	background-image:linear-gradient(transparent, rgba(0, 0, 0, 0.05));
	border:1px solid #008068;
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	color:#fff;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25)
}
.m-form .m-button__primary:hover, .m-button__primary:hover {
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.1)));
	background-image:-webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	background-image:-moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	background-image:-o-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	background-image:linear-gradient(transparent, rgba(0, 0, 0, 0.1))
}
.m-form .m-button__primary:active, .m-button__primary:active {
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.05)), color-stop(100%, transparent));
	background-image:-webkit-linear-gradient(rgba(0, 0, 0, 0.05), transparent);
	background-image:-moz-linear-gradient(rgba(0, 0, 0, 0.05), transparent);
	background-image:-o-linear-gradient(rgba(0, 0, 0, 0.05), transparent);
	background-image:linear-gradient(rgba(0, 0, 0, 0.05), transparent)
}
.m-button-group {
	display:inline-block
}
.m-button__secondary {
	background-color:#e5e5e5;
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, #e5e5e5));
	background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0.2), #e5e5e5);
	background-image:-moz-linear-gradient(rgba(255, 255, 255, 0.2), #e5e5e5);
	background-image:-o-linear-gradient(rgba(255, 255, 255, 0.2), #e5e5e5);
	background-image:linear-gradient(rgba(255, 255, 255, 0.2), #e5e5e5);
	border:1px solid #adb0b2;
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	color:#39444c
}
.m-button__secondary:hover {
	background-color:#dbdbdb;
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, #dbdbdb));
	background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0.2), #dbdbdb);
	background-image:-moz-linear-gradient(rgba(255, 255, 255, 0.2), #dbdbdb);
	background-image:-o-linear-gradient(rgba(255, 255, 255, 0.2), #dbdbdb);
	background-image:linear-gradient(rgba(255, 255, 255, 0.2), #dbdbdb)
}
.m-button__secondary:active {
	background-color:#dbdbdb;
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.03)), color-stop(100%, transparent));
	background-image:-webkit-linear-gradient(rgba(0, 0, 0, 0.03), transparent);
	background-image:-moz-linear-gradient(rgba(0, 0, 0, 0.03), transparent);
	background-image:-o-linear-gradient(rgba(0, 0, 0, 0.03), transparent);
	background-image:linear-gradient(rgba(0, 0, 0, 0.03), transparent)
}
.m-button__primary.is-disabled, .m-button__primary:disabled, .m-button__primary:disabled:hover, .m-button__secondary.is-disabled, .m-button__secondary:disabled, .m-button__secondary:disabled:hover {
	background-color:#e5e5e5;
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, #e5e5e5));
	background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0.3), #e5e5e5);
	background-image:-moz-linear-gradient(rgba(255, 255, 255, 0.3), #e5e5e5);
	background-image:-o-linear-gradient(rgba(255, 255, 255, 0.3), #e5e5e5);
	background-image:linear-gradient(rgba(255, 255, 255, 0.3), #e5e5e5);
	border:1px solid #adb0b2
}
.m-button__plain {
	background-color:rgba(0, 0, 0, 0);
	border:1px solid #c2c5c8;
	color:#8f9396
}
.m-button__plain:disabled {
	border:1px solid #c2c5c8!important
}
.m-button__plain-on-hover {
	background:none;
	border:1px solid rgba(0, 0, 0, 0)
}
.m-button__plain-on-hover:disabled {
	border:1px solid rgba(0, 0, 0, 0)
}
.m-button__plain:hover, .m-button__plain-on-hover:hover {
	border:1px solid #c2c5c8;
	color:#39444c
}
.m-button__plain:active, .m-button__plain-on-hover:active {
	border:1px solid #8f9396;
	color:#39444c
}
.m-button__danger {
	background-color:#ff423e;
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, transparent));
	background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0.15), transparent);
	background-image:-moz-linear-gradient(rgba(255, 255, 255, 0.15), transparent);
	background-image:-o-linear-gradient(rgba(255, 255, 255, 0.15), transparent);
	background-image:linear-gradient(rgba(255, 255, 255, 0.15), transparent);
	border:1px solid #8c1e1b;
	color:white;
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25)
}
.m-button__danger:hover {
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, transparent));
	background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0.2), transparent);
	background-image:-moz-linear-gradient(rgba(255, 255, 255, 0.2), transparent);
	background-image:-o-linear-gradient(rgba(255, 255, 255, 0.2), transparent);
	background-image:linear-gradient(rgba(255, 255, 255, 0.2), transparent)
}
.m-button__danger:active {
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(255, 255, 255, 0.2)));
	background-image:-webkit-linear-gradient(transparent, rgba(255, 255, 255, 0.2));
	background-image:-moz-linear-gradient(transparent, rgba(255, 255, 255, 0.2));
	background-image:-o-linear-gradient(transparent, rgba(255, 255, 255, 0.2));
	background-image:linear-gradient(transparent, rgba(255, 255, 255, 0.2))
}
.m-button__naked, .m-button__naked:disabled {
	border:none;
	background:none;
	box-shadow:none
}
.m-button__biggest {
	font-size:20px!important;
	height:48px!important;
	line-height:48px!important
}
.m-button__bigger {
	font-size:16px!important;
	height:40px!important;
	line-height:40px!important
}
.m-button__smaller {
	font-size:12px!important;
	height:24px!important;
	line-height:24px!important
}
.m-button__facebook, .m-button__twitter {
	height:40px;
	line-height:40px;
	padding:0;
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, transparent));
	background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0.15), transparent);
	background-image:-moz-linear-gradient(rgba(255, 255, 255, 0.15), transparent);
	background-image:-o-linear-gradient(rgba(255, 255, 255, 0.15), transparent);
	background-image:linear-gradient(rgba(255, 255, 255, 0.15), transparent);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.15)
}
.m-button__facebook:hover, .m-button__twitter:hover {
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.1)));
	background-image:-webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	background-image:-moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	background-image:-o-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	background-image:linear-gradient(transparent, rgba(0, 0, 0, 0.1))
}
.m-button__facebook:active, .m-button__twitter:active {
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.05)), color-stop(100%, transparent));
	background-image:-webkit-linear-gradient(rgba(0, 0, 0, 0.05), transparent);
	background-image:-moz-linear-gradient(rgba(0, 0, 0, 0.05), transparent);
	background-image:-o-linear-gradient(rgba(0, 0, 0, 0.05), transparent);
	background-image:linear-gradient(rgba(0, 0, 0, 0.05), transparent)
}
.m-button__facebook {
	background-color:#365391;
	border:1px solid #314a7e
}
.m-button__twitter {
	background-color:#389bdb;
	border:1px solid #3487b9
}
.m-button__facebook--image {
	background:url(//static0.montagebook.com/images/modules/taco-button/facebook.png) center center no-repeat
}
.m-button__twitter--image {
	background:url(//static1.montagebook.com/images/modules/taco-button/twitter.png) center center no-repeat
}
.m-button__facebook--image, .m-button__twitter--image {
	width:40px;
	height:40px;
	display:inline-block
}
.m-panel {
	background:#d4d6d8;
	border-top:1px solid #c3c5c7;
	text-align:center;
	width:100%;
	height:64px;
	line-height:64px
}
.mouse-check--content {
	height:400px;
	width:560px;
	position:relative
}
.mouse-check--content .mouse-check--content--title {
	padding-top:45px;
	font-size:2.3em;
	line-height:1.5em;
	text-align:center
}
.mouse-check--content .mouse-check--content--image {
	width:100%;
	text-align:center;
	bottom:0;
	position:absolute
}
.mouse-check--content .mouse-check--content--image img {
	vertical-align:bottom
}
.mouse-check--content .mouse-check--content--pulse img {
	-webkit-transform:scale(0.4);
	-moz-transform:scale(0.4);
	-ms-transform:scale(0.4);
	-o-transform:scale(0.4);
	transform:scale(0.4);
	-webkit-transform-origin:50% 100%;
	-moz-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	-o-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-animation-name:pulsing;
	-moz-animation-name:pulsing;
	-ms-animation-name:pulsing;
	-o-animation-name:pulsing;
	animation-name:pulsing;
	-webkit-animation-timing-function:ease-in;
	-moz-animation-timing-function:ease-in;
	-ms-animation-timing-function:ease-in;
	-o-animation-timing-function:ease-in;
	animation-timing-function:ease-in;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s
}
.mouse-check--content .mouse-check--content--pulse img.pulse__1 {
-webkit-animation-delay:.35s;
-moz-animation-delay:.35s;
-ms-animation-delay:.35s;
-o-animation-delay:.35s;
animation-delay:.35s
}
.mouse-check--content .mouse-check--content--pulse img.pulse__2 {
	-webkit-animation-delay:2.13333s;
	-moz-animation-delay:2.13333s;
	-ms-animation-delay:2.13333s;
	-o-animation-delay:2.13333s;
	animation-delay:2.13333s
}
@-moz-keyframes pulsing {
0% {
-moz-transform:scale(0.4);
transform:scale(0.4);
opacity:.4
}
60% {
opacity:0;
-moz-transform:scale(1.7);
transform:scale(1.7)
}
100% {
opacity:0;
-moz-transform:scale(1.7);
transform:scale(1.7)
}
}
@-webkit-keyframes pulsing {
0% {
-webkit-transform:scale(0.4);
transform:scale(0.4);
opacity:.4
}
60% {
opacity:0;
-webkit-transform:scale(1.7);
transform:scale(1.7)
}
100% {
opacity:0;
-webkit-transform:scale(1.7);
transform:scale(1.7)
}
}
@-o-keyframes pulsing {
0% {
-o-transform:scale(0.4);
transform:scale(0.4);
opacity:.4
}
60% {
opacity:0;
-o-transform:scale(1.7);
transform:scale(1.7)
}
100% {
opacity:0;
-o-transform:scale(1.7);
transform:scale(1.7)
}
}
@-ms-keyframes pulsing {
0% {
-ms-transform:scale(0.4);
transform:scale(0.4);
opacity:.4
}
60% {
opacity:0;
-ms-transform:scale(1.7);
transform:scale(1.7)
}
100% {
opacity:0;
-ms-transform:scale(1.7);
transform:scale(1.7)
}
}
@keyframes pulsing {
0% {
transform:scale(0.4);
opacity:.4
}
60% {
opacity:0;
transform:scale(1.7)
}
100% {
opacity:0;
transform:scale(1.7)
}
}
.mouse-check--footer {
	background-color:#d4d6d8;
	height:97px;
	text-align:center;
	-webkit-box-shadow:0 -4px 4px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:0 -4px 4px rgba(0, 0, 0, 0.05);
	box-shadow:0 -4px 4px rgba(0, 0, 0, 0.05)
}
.mouse-check--footer .taco-main--button {
	margin-top:24px
}
.mouse-check--footer .mouse-check--footer--demo {
	padding:0 2em
}
.mouse-check .taco-main--button__start {
	display:none
}
.mouse-check .taco-main--button__demo {
	display:inline-block
}
.mouse-check.is-start .taco-main--button__start {
	display:inline-block
}
.mouse-check.is-start .taco-main--button__demo {
	display:none
}
.taco-forgot-password--wrapper {
	background-color:#e9e9e9;
	border:1px solid #d1d2d3;
	border-radius:4px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	height:240px;
	width:390px;
	position:relative;
	font-family:'Gotham A', 'Gotham B';
	font-weight:400!important;
	font-style:normal!important;
	font-size:14px
}
.taco-forgot-password {
	position:relative;
	height:100%
}
.taco-forgot-password input {
	padding-left:110px
}
.taco-forgot-password.is-processing .taco-forgot-password--info--text, .taco-forgot-password.is-reset .taco-forgot-password--info--text {
	opacity:0;
	visibility:hidden
}
.taco-forgot-password.is-processing .taco-forgot-password--info--spinner, .taco-forgot-password.is-reset .taco-forgot-password--info--spinner {
	opacity:1;
	visibility:visible
}
.taco-forgot-password.is-reset .taco-forgot-password--form {
	opacity:0;
	visibility:hidden
}
.taco-forgot-password.is-reset .taco-forgot-password--success {
	opacity:1;
	visibility:visible
}
.taco-forgot-password--popup {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
-webkit-transition:all .5s cubic-bezier(0.85, 0, 0.15, 1);
-moz-transition:all .5s cubic-bezier(0.85, 0, 0.15, 1);
-o-transition:all .5s cubic-bezier(0.85, 0, 0.15, 1);
transition:all .5s cubic-bezier(0.85, 0, 0.15, 1);
	position:absolute;
	opacity:1;
	visibility:visible;
	padding:35px;
	top:0;
	left:0;
	width:100%;
	height:250px
}
.taco-forgot-password--title {
	font-family:'Gotham Rounded A', 'Gotham Rounded B';
	font-weight:500!important;
	font-style:normal!important;
	text-align:center;
	font-size:18px
}
.taco-forgot-password--info {
	color:#8f9396;
	margin:16px 0 24px;
	position:relative;
	height:20px;
	line-height:20px
}
.taco-forgot-password--info--text {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	text-align:center;
-webkit-transition:all .3s cubic-bezier(0.85, 0, 0.15, 1);
-moz-transition:all .3s cubic-bezier(0.85, 0, 0.15, 1);
-o-transition:all .3s cubic-bezier(0.85, 0, 0.15, 1);
transition:all .3s cubic-bezier(0.85, 0, 0.15, 1)
}
.taco-forgot-password--info--spinner {
	opacity:0;
	visibility:hidden;
-webkit-transition:all .3s cubic-bezier(0.85, 0, 0.15, 1);
-moz-transition:all .3s cubic-bezier(0.85, 0, 0.15, 1);
-o-transition:all .3s cubic-bezier(0.85, 0, 0.15, 1);
transition:all .3s cubic-bezier(0.85, 0, 0.15, 1)
}
.taco-forgot-password--actions {
	float:left;
	width:100%
}
.taco-forgot-password--cancel {
	float:left
}
.taco-forgot-password--reset {
	float:right
}
.taco-forgot-password--success {
	position:absolute;
	top:50%;
	margin-top:-10px;
	text-align:center;
	width:100%;
	opacity:0;
	visibility:hidden;
-webkit-transition:all .5s cubic-bezier(0.85, 0, 0.15, 1);
-moz-transition:all .5s cubic-bezier(0.85, 0, 0.15, 1);
-o-transition:all .5s cubic-bezier(0.85, 0, 0.15, 1);
transition:all .5s cubic-bezier(0.85, 0, 0.15, 1)
}
.taco-signup:not(.m-form--popup) {
width:320px;
left:-40px;
padding-left:40px;
padding-right:40px
}
.taco-signup:not(.m-form--popup).is-moving-to-login .taco-signup--section__login, .taco-signup:not(.m-form--popup).is-moving-to-login .taco-signup--section__signup, .taco-signup:not(.m-form--popup).is-moving-to-login .taco-signup--section__reset, .taco-signup:not(.m-form--popup).is-login .taco-signup--section__login, .taco-signup:not(.m-form--popup).is-login .taco-signup--section__signup, .taco-signup:not(.m-form--popup).is-login .taco-signup--section__reset {
-webkit-transform:translateX(-400px);
-moz-transform:translateX(-400px);
-ms-transform:translateX(-400px);
-o-transform:translateX(-400px);
transform:translateX(-400px)
}
.taco-signup:not(.m-form--popup).is-moving-to-login .taco-signup--section__signup, .taco-signup:not(.m-form--popup).is-moving-to-login .taco-signup--section__reset, .taco-signup:not(.m-form--popup).is-login .taco-signup--section__signup, .taco-signup:not(.m-form--popup).is-login .taco-signup--section__reset {
visibility:hidden
}
.taco-signup:not(.m-form--popup).is-moving-to-login .taco-signup--section__login, .taco-signup:not(.m-form--popup).is-login .taco-signup--section__login {
visibility:visible
}
.taco-signup:not(.m-form--popup).is-moving-to-reset .taco-signup--section__login, .taco-signup:not(.m-form--popup).is-moving-to-reset .taco-signup--section__signup, .taco-signup:not(.m-form--popup).is-moving-to-reset .taco-signup--section__reset, .taco-signup:not(.m-form--popup).is-reset .taco-signup--section__login, .taco-signup:not(.m-form--popup).is-reset .taco-signup--section__signup, .taco-signup:not(.m-form--popup).is-reset .taco-signup--section__reset {
-webkit-transform:translateX(-800px);
-moz-transform:translateX(-800px);
-ms-transform:translateX(-800px);
-o-transform:translateX(-800px);
transform:translateX(-800px)
}
.taco-signup:not(.m-form--popup).is-moving-to-reset .taco-signup--section__login, .taco-signup:not(.m-form--popup).is-moving-to-reset .taco-signup--section__signup, .taco-signup:not(.m-form--popup).is-reset .taco-signup--section__login, .taco-signup:not(.m-form--popup).is-reset .taco-signup--section__signup {
visibility:hidden
}
.taco-signup:not(.m-form--popup).is-moving-to-reset .taco-signup--section__reset, .taco-signup:not(.m-form--popup).is-reset .taco-signup--section__reset {
visibility:visible
}
.taco-signup:not(.m-form--popup) .taco-signup--section__login, .taco-signup:not(.m-form--popup) .taco-signup--section__signup, .taco-signup:not(.m-form--popup) .taco-signup--section__reset {
-webkit-transition:visibility 600ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
-moz-transition:visibility 600ms cubic-bezier(0.19, 1, 0.22, 1), -moz-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
-o-transition:visibility 600ms cubic-bezier(0.19, 1, 0.22, 1), -o-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
transition:visibility 600ms cubic-bezier(0.19, 1, 0.22, 1), transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
position:absolute;
top:0;
width:320px
}
.taco-signup:not(.m-form--popup) .taco-signup--section__signup {
left:40px
}
.taco-signup:not(.m-form--popup) .taco-signup--section__login {
visibility:hidden;
left:440px
}
.taco-signup:not(.m-form--popup) .taco-signup--section__reset {
visibility:hidden;
left:840px
}
.taco-signup {
	position:relative;
	overflow:visible
}
.taco-signup.is-disabled-overflow {
	overflow:hidden
}
.taco-signup__main {
	height:130px
}
.taco-signup__popup {
	height:173px
}
.taco-signup--fields input {
	padding-left:110px;
	font-family:'Gotham A', 'Gotham B';
	font-weight:400!important;
	font-style:normal!important;
	width:100%;
	font-size:16px
}
.taco-signup--fields label {
	text-transform:uppercase;
	font-size:12px;
	color:#8f9396
}
.taco-signup--header {
	width:100%;
	overflow:hidden;
	color:#8f9396;
	text-transform:uppercase
}
.taco-signup--header--title {
	font-family:'Gotham A', 'Gotham B';
	font-weight:700!important;
	font-style:normal!important;
	font-size:14px;
	padding-bottom:12px;
	float:left
}
.taco-signup--header--switcher {
	float:right;
	font-family:'Gotham A', 'Gotham B';
	font-weight:400!important;
	font-style:normal!important;
	font-size:12px;
	padding-right:8px
}
.taco-signup--header--switcher--login {
	font-family:'Gotham A', 'Gotham B';
	font-weight:700!important;
	font-style:normal!important;
	color:#00bfaf;
	padding-right:20px;
	background:url(//static0.montagebook.com/images/cells/taco-signup/right-arrow-green.png) right 3px no-repeat;
	cursor:pointer;
	padding-left:3px
}
.taco-signup--header--switcher--signup {
	font-family:'Gotham A', 'Gotham B';
	font-weight:700!important;
	font-style:normal!important;
	color:#00bfaf;
	padding-left:20px;
	background:url(//static0.montagebook.com/images/cells/taco-signup/left-arrow-green.png) left 3px no-repeat;
	cursor:pointer
}
.taco-signup--buttons {
	float:left;
	width:100%
}
.taco-signup--buttons--save {
	float:right
}
.taco-signup--buttons--decline {
	float:left
}
.taco-signup--spinner {
	float:right;
	margin:7px 10px
}
.taco-main-sprite, .taco-main--icons--item__magic .taco-main--icons--item--icon, .taco-main--icons--item__magic:hover .taco-main--icons--item--icon, .taco-main--icons--item__sizes .taco-main--icons--item--icon, .taco-main--icons--item__sizes:hover .taco-main--icons--item--icon, .taco-main--icons--item__materials .taco-main--icons--item--icon, .taco-main--icons--item__materials:hover .taco-main--icons--item--icon, .taco-main--icons--item__shipping .taco-main--icons--item--icon, .taco-main--icons--item__shipping:hover .taco-main--icons--item--icon, .taco-main--icons--item__layflat .taco-main--icons--item--icon, .taco-main--icons--item__layflat:hover .taco-main--icons--item--icon {
	background:url(//static0.montagebook.com/images/cells/taco-main-s641da22f19.png) no-repeat
}
@-moz-keyframes cityscape {
0% {
background-position:0 0
}
100% {
background-position:-1398px 0
}
}
@-webkit-keyframes cityscape {
0% {
background-position:0 0
}
100% {
background-position:-1398px 0
}
}
@-o-keyframes cityscape {
0% {
background-position:0 0
}
100% {
background-position:-1398px 0
}
}
@-ms-keyframes cityscape {
0% {
background-position:0 0
}
100% {
background-position:-1398px 0
}
}
@keyframes cityscape {
0% {
background-position:0 0
}
100% {
background-position:-1398px 0
}
}
@-moz-keyframes lamposts {
0% {
background-position:0 0
}
100% {
background-position:-697px 0
}
}
@-webkit-keyframes lamposts {
0% {
background-position:0 0
}
100% {
background-position:-697px 0
}
}
@-o-keyframes lamposts {
0% {
background-position:0 0
}
100% {
background-position:-697px 0
}
}
@-ms-keyframes lamposts {
0% {
background-position:0 0
}
100% {
background-position:-697px 0
}
}
@keyframes lamposts {
0% {
background-position:0 0
}
100% {
background-position:-697px 0
}
}
@-moz-keyframes truck {
0% {
-moz-transform:translateY(0);
transform:translateY(0)
}
50% {
-moz-transform:translateY(4px);
transform:translateY(4px)
}
100% {
-moz-transform:translateY(0);
transform:translateY(0)
}
}
@-webkit-keyframes truck {
0% {
-webkit-transform:translateY(0);
transform:translateY(0)
}
50% {
-webkit-transform:translateY(4px);
transform:translateY(4px)
}
100% {
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@-o-keyframes truck {
0% {
-o-transform:translateY(0);
transform:translateY(0)
}
50% {
-o-transform:translateY(4px);
transform:translateY(4px)
}
100% {
-o-transform:translateY(0);
transform:translateY(0)
}
}
@-ms-keyframes truck {
0% {
-ms-transform:translateY(0);
transform:translateY(0)
}
50% {
-ms-transform:translateY(4px);
transform:translateY(4px)
}
100% {
-ms-transform:translateY(0);
transform:translateY(0)
}
}
@keyframes truck {
0% {
transform:translateY(0)
}
50% {
transform:translateY(4px)
}
100% {
transform:translateY(0)
}
}
.taco-main {
	height:100%;
	font-size:14px
}
.taco-main.is-touch .taco-main--header--login {
	display:none
}
.taco-main.is-touch .taco-main--button__start, .taco-main.is-touch .taco-main--button__demo {
	display:none
}
.taco-main.is-touch .taco-main--button__email {
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
*vertical-align:auto;
	zoom:1;
*display:inline
}
.taco-main--button {
	font-family:'Gotham A', 'Gotham B';
	font-weight:700!important;
	font-style:normal!important;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
*vertical-align:auto;
	zoom:1;
*display:inline;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	border-radius:4px;
	cursor:pointer;
	text-transform:uppercase;
	text-decoration:none;
	white-space:nowrap;
	line-height:2.5em;
	height:2.5em;
	padding:0 1em;
	font-size:1em;
	text-align:center
}
.taco-main--button__primary {
	background-color:#00bfaf;
	color:white;
	border:1px solid #00ac8f;
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.05)));
	background-image:-webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
	background-image:-moz-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
	background-image:-o-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
	background-image:linear-gradient(transparent, rgba(0, 0, 0, 0.05));
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.25)
}
.taco-main--button__primary:hover {
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.1)));
	background-image:-webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	background-image:-moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	background-image:-o-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	background-image:linear-gradient(transparent, rgba(0, 0, 0, 0.1))
}
.taco-main--button__primary:active {
	background-image:-webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.05)), color-stop(100%, transparent));
	background-image:-webkit-linear-gradient(rgba(0, 0, 0, 0.05), transparent);
	background-image:-moz-linear-gradient(rgba(0, 0, 0, 0.05), transparent);
	background-image:-o-linear-gradient(rgba(0, 0, 0, 0.05), transparent);
	background-image:linear-gradient(rgba(0, 0, 0, 0.05), transparent)
}
.taco-main--button__big {
	font-size:1.143em;
	line-height:3em;
	height:3em
}
.taco-main--button__plain {
	border:1px solid #6c7175;
	color:#6c7175;
	opacity:.8
}
.taco-main--button__plain:hover {
	opacity:1
}
.taco-main--button__plain:active {
	opacity:.4
}
.taco-main--button__plain__dark {
	border:1px solid white;
	color:white
}
.taco-main--header {
	position:fixed;
	z-index:0;
	top:0;
	bottom:11%;
	left:0;
	right:0;
	padding-bottom:104px
}
.taco-main--header--content {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1
}
.taco-main--header--logo {
	position:absolute;
	margin-top:-70px;
	top:15%;
	left:7.14286%;
	width:140px;
	height:55px;
	background:url(//static0.montagebook.com/images/cells/taco-main/header-logo.png) top left no-repeat
}
.taco-main--header--logo__gma {
	width:316px;
	height:60px;
	background-image:url(//static0.montagebook.com/images/cells/taco-main/header-logo-gma.png)
}
.taco-main--header--text {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	display:table
}
.taco-main--header--learn-more {
	display:none
}
.taco-main--header--text--wrapper {
	display:table-cell;
	vertical-align:middle
}
.taco-main--header--title {
	font-size:3.429em;
	line-height:1.2em;
	margin-left:7.14286%;
	width:28.57143%;
	font-family:'Gotham Rounded A', 'Gotham Rounded B';
	font-weight:300!important;
	font-style:normal!important
}
.taco-main--header--title--pro {
	font-size:1.429em;
	line-height:1.1em;
	margin-left:7.14286%;
	width:35.71429%
}
.taco-main--header--title--pro .taco-main--header--title--pro--highlight-star {
	display:inline-block;
	font-size:.8em;
	color:#333
}
.taco-main--header--title--pro em {
	text-transform:uppercase;
	color:#00bfaf
}
.taco-main--header--title--pro ul {
	font-size:.8em;
	padding-top:12px;
	margin-left:20px
}
.taco-main--header--title--pro ul li {
	padding-top:12px
}
.taco-main--header--title--pro ul small {
	color:#888;
	font-size:.9em;
	display:block
}
.taco-main--header--title--pro p {
	line-height:.8;
	padding-top:28px
}
.taco-main--header--title--pro p .taco-main--header--title--pro--highlight-star {
	float:left;
	height:37px;
	width:8px
}
.taco-main--header--title--pro p small {
	color:#777;
	font-size:.67em
}
.taco-main--header--subtitle {
	font-size:1.329em;
	color:#8f9396;
	margin-top:32px;
	margin-left:7.14286%;
	width:28.57143%;
	line-height:1.5em;
	white-space:nowrap
}
.taco-main--header--subtitle em {
	font-family:'Gotham Rounded A', 'Gotham Rounded B';
	font-weight:500!important;
	font-style:normal!important
}
.taco-main--header--subtitle small {
	display:block;
	font-size:.8em
}
.taco-main--header--buttons {
	margin-left:7.14286%;
	width:85.71429%;
	margin-top:24px
}
.taco-main--header--buttons--start {
	margin-right:8px
}
.taco-main--button__email {
	display:none;
	height:2.5em;
	font-size:1.714em
}
.taco-main--button__email.is-toggled .taco-main--button__email--switch {
	display:none
}
.taco-main--button__email.is-toggled .taco-main--button__email--form {
	display:inline-block
}
.taco-main--button__email.is-completed .taco-main--button__email--form {
	display:none
}
.taco-main--button__email.is-completed .taco-main--button__email--completed {
	display:inline-block
}
.taco-main--button__email--switch {
	background:#00bfaf;
	color:white;
	height:2.6em;
	border-radius:1.250em;
	text-align:center;
	border:0;
	padding:0 2em;
	font-size:1em;
	cursor:pointer
}
.taco-main--button__email--field {
	width:12em;
	height:2.5em;
	line-height:.5em;
	padding:1em 3.5em 1em 1.5em;
	border-radius:1.5em;
	font-size:1em;
	border:1px solid #d5d5d5;
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.taco-main--button__email--submit {
	border-radius:2em;
	border:none;
	font-size:1em;
	height:2.5em;
	width:2.5em;
	text-indent:-9999px;
	float:right;
	margin-left:-4em;
	overflow:hidden;
	background:url(//static0.montagebook.com/images/cells/taco-main/email-button.png) 40% center no-repeat #00bfaf;
	background-size:1.5em;
	cursor:pointer;
	position:relative
}
.taco-main--button__email--errors {
	text-align:center;
	margin:3px 10px 3px 10px
}
.taco-main--button__email--form {
	display:none
}
.taco-main--button__email--completed {
	display:none;
	height:2.5em;
	line-height:2.5em;
	border-radius:1.250em;
	color:#00bf9f;
	text-align:center;
	border:1px solid #00bf9f;
	padding:0 1em 0 2.5em;
	font-size:1em;
	background:url(//static2.montagebook.com/images/cells/taco-main/completed@2x.png) 1em center no-repeat
}
.taco-main--request {
	display:inline-block
}
.taco-main--request.is-toggled .taco-main--request--switch {
	display:none
}
.taco-main--request.is-toggled .taco-main--request--form {
	display:inline-block
}
.taco-main--request.is-completed .taco-main--request--form {
	display:none
}
.taco-main--request.is-completed .taco-main--request--completed {
	display:inline-block
}
.taco-main--request--content {
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
*vertical-align:auto;
	zoom:1;
*display:inline
}
.taco-main--request--field {
	width:12em;
	height:1em;
	line-height:1em;
	padding:1.143em;
	font-size:1em;
	border-radius:4px;
	border:1px solid #d5d5d5;
	float:left;
	font-family:'Gotham A', 'Gotham B';
	font-weight:400!important;
	font-style:normal!important
}
.taco-main--request--errors {
	text-align:center;
	margin:3px 10px 3px 10px
}
.taco-main--request--submit {
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
*vertical-align:auto;
	zoom:1;
*display:inline
}
.taco-main--request--form {
	display:none
}
.taco-main--request--completed {
	display:none;
	height:3em;
	line-height:3em;
	border-radius:1.5em;
	color:#00bf9f;
	text-align:center;
	border:1px solid #00bf9f;
	padding:0 1.5em 0 3em;
	font-size:1.143em;
	background:url(//static0.montagebook.com/images/cells/taco-main/completed.png) 1.5em center no-repeat
}
.taco-main--button__demo--text {
	background-image:url(//static3.montagebook.com/images/cells/taco-main/arrow-right.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:1.429em;
	font-family:'Gotham A', 'Gotham B';
	font-weight:400!important;
	font-style:normal!important;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
*vertical-align:auto;
	zoom:1;
*display:inline;
	height:100%
}
.taco-main--button__demo__dark--text {
	background-image:url(//static1.montagebook.com/images/cells/taco-main/arrow-right-white.png)
}
.taco-main--header--login, .taco-main--header--login__fallback {
	margin-left:7.14286%;
	margin-top:16px;
	color:#8f9396;
	display:inline-block;
	text-decoration:none;
	cursor:pointer;
	width:200px
}
.taco-main--header--login span, .taco-main--header--login__fallback span {
	opacity:.7
}
.taco-main--header--login em, .taco-main--header--login__fallback em {
	background:url(//static3.montagebook.com/images/cells/taco-main/login-arrow.png) right 4px no-repeat;
	display:inline-block;
	padding-right:15px;
	opacity:.7
}
.taco-main--header--login:hover em, .taco-main--header--login__fallback:hover em {
	opacity:1;
	padding-right:20px
}
.taco-main--header--login__fallback {
	display:none
}
.taco-main--header--image {
	position:absolute;
	top:0;
	height:100%;
	padding-bottom:110px;
	right:0;
	width:64.28571%;
	max-width:990px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	text-align:right
}
.taco-main--header--image:before, .taco-main--header--image::before {
content:'';
display:inline-block;
height:100%;
vertical-align:middle
}
.taco-main--header--image img {
	max-width:100%;
	max-height:100%;
	display:inline-block;
	vertical-align:middle
}
.taco-main--header-links {
	position:fixed;
	z-index:0;
	padding-top:8px;
	height:96px;
	bottom:11%;
	left:7.14286%;
	right:7.14286%
}
@media(min-height:781.81818px) {
.taco-main--header-links {
bottom:86px!important
}
}
.taco-main--drop-menu--outer-wrapper {
	margin-right:224px
}
.taco-main--icons {
	display:table;
	width:100%
}
.taco-main--icons--items {
	display:table-row;
	width:100%
}
.taco-main--icons--item {
	display:table-cell;
	width:16.66667%;
	text-align:center;
	padding-top:12px;
	padding-bottom:12px;
	border-left:1px solid #dededc;
	background-repeat:no-repeat;
	background-position:50% 4px;
	text-transform:uppercase;
	font-size:.786em;
	text-decoration:none;
	color:#39444c
}
.taco-main--icons--item:hover {
	color:#00bfaf
}
.taco-main--icons--item:first-child {
	border-left:none
}
.taco-main--icons--item--content {
	position:relative;
	top:0;
	-webkit-transition:-webkit-transform 450ms cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition:-moz-transform 450ms cubic-bezier(0.19, 1, 0.22, 1);
	-o-transition:-o-transform 450ms cubic-bezier(0.19, 1, 0.22, 1);
	transition:transform 450ms cubic-bezier(0.19, 1, 0.22, 1);
	display:inline-block
}
.taco-main--icons--item--icon {
	width:48px;
	height:42px;
	margin:0 auto 8px;
	display:block
}
.taco-main--icons--item__magic .taco-main--icons--item--icon {
	background-position:0 -84px
}
.taco-main--icons--item__magic:hover .taco-main--icons--item--content {
	-webkit-transform:translateY(-4px);
	-moz-transform:translateY(-4px);
	-ms-transform:translateY(-4px);
	-o-transform:translateY(-4px);
	transform:translateY(-4px)
}
.taco-main--icons--item__magic:hover .taco-main--icons--item--icon {
	background-position:0 -126px
}
.taco-main--icons--item__sizes .taco-main--icons--item--icon {
	background-position:0 -252px
}
.taco-main--icons--item__sizes:hover .taco-main--icons--item--content {
	-webkit-transform:translateY(-4px);
	-moz-transform:translateY(-4px);
	-ms-transform:translateY(-4px);
	-o-transform:translateY(-4px);
	transform:translateY(-4px)
}
.taco-main--icons--item__sizes:hover .taco-main--icons--item--icon {
	background-position:0 -294px
}
.taco-main--icons--item__materials .taco-main--icons--item--icon {
	background-position:0 -168px
}
.taco-main--icons--item__materials:hover .taco-main--icons--item--content {
	-webkit-transform:translateY(-4px);
	-moz-transform:translateY(-4px);
	-ms-transform:translateY(-4px);
	-o-transform:translateY(-4px);
	transform:translateY(-4px)
}
.taco-main--icons--item__materials:hover .taco-main--icons--item--icon {
	background-position:0 -210px
}
.taco-main--icons--item__shipping .taco-main--icons--item--icon {
	background-position:0 -336px
}
.taco-main--icons--item__shipping:hover .taco-main--icons--item--content {
	-webkit-transform:translateY(-4px);
	-moz-transform:translateY(-4px);
	-ms-transform:translateY(-4px);
	-o-transform:translateY(-4px);
	transform:translateY(-4px)
}
.taco-main--icons--item__shipping:hover .taco-main--icons--item--icon {
	background-position:0 -378px
}
.taco-main--icons--item__layflat .taco-main--icons--item--icon {
	background-position:0 0
}
.taco-main--icons--item__layflat:hover .taco-main--icons--item--content {
	-webkit-transform:translateY(-4px);
	-moz-transform:translateY(-4px);
	-ms-transform:translateY(-4px);
	-o-transform:translateY(-4px);
	transform:translateY(-4px)
}
.taco-main--icons--item__layflat:hover .taco-main--icons--item--icon {
	background-position:0 -42px
}
.taco-main--drop-menu--container {
	position:absolute;
	top:1.143em;
	left:7.14286%;
	right:7.14286%;
	bottom:1.143em
}
.taco-main--drop-menu {
	overflow:hidden;
	position:fixed;
	z-index:5;
	left:0;
	width:100%;
	-webkit-transition:-webkit-transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition:-moz-transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
	-o-transition:-o-transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
	transition:transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
	background:white;
	border-bottom:1px solid #d6d6d6;
	top:0;
	height:114px;
	-webkit-transform:translateY(-114px);
	-moz-transform:translateY(-114px);
	-ms-transform:translateY(-114px);
	-o-transform:translateY(-114px);
	transform:translateY(-114px)
}
.taco-main--drop-menu.is-visible {
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-ms-transform:translateY(0);
	-o-transform:translateY(0);
	transform:translateY(0)
}
.taco-main--drop-menu--buttons {
	float:right;
	width:208px;
	padding:0 8px
}
.taco-main--drop-menu--buttons .taco-main--button__email {
	font-size:1.143em;
	margin-top:1.429em
}
.taco-main--drop-menu--buttons .taco-main--request {
	margin-top:1.429em
}
.taco-main--drop-menu--buttons--start {
	margin:0 0 8px 0
}
.taco-main--drop-menu--buttons--start, .taco-main--drop-menu--buttons--demo {
	width:176px
}
.taco-main--content-top {
	background:white;
	position:absolute;
	height:11%;
	max-height:86px;
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-ms-transform:translateZ(0);
	-o-transform:translateZ(0);
	transform:translateZ(0);
	z-index:2;
	width:100%;
	bottom:0;
	-webkit-box-shadow:0 2px 17px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 2px 17px 0 rgba(0, 0, 0, 0.5);
	box-shadow:0 2px 17px 0 rgba(0, 0, 0, 0.5)
}
.taco-main--content-top--learn-more {
	background:url(//static2.montagebook.com/images/cells/taco-main/arrow-down.png) center bottom no-repeat;
	text-align:center;
	text-transform:uppercase;
	width:100%;
	position:absolute;
	top:50%;
	font-size:1.143em;
	height:32px;
	margin-top:-16px;
	text-decoration:none;
	color:#39444c
}
.taco-main--content {
	position:relative;
	top:99%;
	background:white;
	z-index:2;
	overflow-x:hidden;
	margin-top:-1px
}
.taco-main--content--title {
	font-size:2.286em;
	width:57.14286%;
	font-family:'Gotham Rounded A', 'Gotham Rounded B';
	font-weight:300!important;
	font-style:normal!important
}
.taco-main--content--subtitle {
	width:28.57143%;
	font-size:1.143em;
	line-height:1.5em;
	margin-top:8px;
	color:#8f9396
}
.taco-main--content--pricing-toggle {
	float:right;
	position:relative;
	right:7.14286%;
	font-size:1.2em;
	margin-top:-4em;
	font-weight:bold
}
.taco-main--content--pricing-toggle span>:first-child {
	border-right:solid 2px #CCC;
	text-align:right;
	padding-right:12px;
	margin-right:12px
}
.taco-main--content--pricing-toggle span>:nth-child(2) {
width:130px
}
.taco-main--content--pricing-toggle span * {
	display:inline-block;
	line-height:1.2em
}
.taco-main--content--pricing-toggle a {
	line-height:1.2em;
	font-weight:normal
}
.taco-main--content--pricing-toggle__silver-halide, .taco-main--content--books__silver-halide {
	display:none
}
.taco-main--content--section__silver-halide .taco-main--content--pricing-toggle__silver-halide, .taco-main--content--section__silver-halide .taco-main--content--books__silver-halide {
	display:block
}
.taco-main--content--section__silver-halide .taco-main--content--pricing-toggle__digital-press, .taco-main--content--section__silver-halide .taco-main--content--books__digital-press {
	display:none
}
.taco-main--content--subtitle--mobile {
	display:none
}
.taco-main--content--section {
	padding:4em 0
}
.taco-main--content--section__magic .taco-main--content--title, .taco-main--content--section__magic .taco-main--content--subtitle {
	text-align:center;
	margin-left:auto;
	margin-right:auto
}
.taco-main--content--section__magic .taco-main--content--image {
	position:relative;
	width:100%;
	left:-102px;
	padding-right:102px;
	background:url(//static3.montagebook.com/images/cells/taco-main/magic-detail.jpg) center top no-repeat;
	height:321px;
	margin-top:80px
}
.taco-main--content--sizes {
	display:none
}
.taco-main--content--section__sizes .taco-main--content--title {
	line-height:1.2em;
	width:42.85714%
}
.taco-main--content--section__sizes .taco-main--content--title, .taco-main--content--section__sizes .taco-main--content--subtitle {
	position:relative;
	left:7.14286%
}
.taco-main--content--section__sizes .taco-main--content--books--shelf {
	width:100%;
	height:243px;
	background:url(//static0.montagebook.com/images/cells/taco-main/shelf.jpg) left top repeat-x;
	margin-top:-1em;
	position:absolute;
	bottom:0
}
.taco-main--content--section__sizes .taco-main--content--books {
	text-align:center;
	white-space:nowrap;
	position:relative;
	height:685px
}
.taco-main--content--section__sizes .taco-main--content--books--book {
	display:inline-block;
	vertical-align:bottom;
	padding-top:64px;
	position:absolute;
	bottom:226px
}
.taco-main--content--section__sizes .taco-main--content--books--book__6 {
	background:url(//static0.montagebook.com/images/cells/taco-main/book-large-detail.png) left bottom no-repeat;
	background-size:contain;
	width:198px;
	height:196px;
	margin-left:-99px;
	z-index:4;
	left:11.8%
}
.taco-main--content--section__sizes .taco-main--content--books--book__8 {
	background:url(//static0.montagebook.com/images/cells/taco-main/book-large-detail.png) left bottom no-repeat;
	background-size:contain;
	width:263px;
	height:261px;
	margin-left:-132px;
	z-index:3;
	left:29.9%
}
.taco-main--content--section__sizes .taco-main--content--books--book__10 {
	background:url(//static0.montagebook.com/images/cells/taco-main/book-large-detail.png) left bottom no-repeat;
	background-size:contain;
	width:329px;
	height:326px;
	margin-left:-165px;
	z-index:2;
	left:53%
}
.taco-main--content--section__sizes .taco-main--content--books--book__12 {
	background:url(//static0.montagebook.com/images/cells/taco-main/book-large-detail.png) left bottom no-repeat;
	background-size:contain;
	width:395px;
	height:391px;
	margin-left:-198px;
	z-index:1;
	left:81%
}
.taco-main--content--section__sizes .taco-main--content--books--book--prices {
	margin-top:-64px;
	overflow:hidden
}
.taco-main--content--section__sizes .taco-main--content--books--book--prices--price {
	display:inline-block;
	font-size:2.286em;
	font-family:'Gotham Rounded A', 'Gotham Rounded B';
	font-weight:300!important;
	font-style:normal!important
}
.taco-main--content--section__sizes .taco-main--content--books--book--prices--price--and-up {
	position:relative;
	text-transform:uppercase;
	font-size:.3em;
	opacity:.6;
	top:-4px;
	left:-5px;
	line-height:1.3em;
	text-align:left;
	display:none;
	-webkit-transition:opacity 250ms ease-in-out;
	-moz-transition:opacity 250ms ease-in-out;
	-o-transition:opacity 250ms ease-in-out;
	transition:opacity 250ms ease-in-out
}
.taco-main--content--section__sizes .taco-main--content--books__pricing-experiment .taco-main--content--books--book--prices--price--and-up {
	display:inline-block
}
.taco-main--content--section__sizes .taco-main--content--books__pricing-experiment .taco-main--content--books--book--prices--price:hover {
	cursor:pointer
}
.taco-main--content--section__sizes .taco-main--content--books__pricing-experiment .taco-main--content--books--book--prices--price:hover .taco-main--content--books--book--prices--price--and-up {
	opacity:1
}
.taco-main--content--section__sizes .taco-main--content--books--book--prices--price__before-discount {
	color:#8f9396;
	position:relative;
	padding:0 5px;
	margin-right:5px
}
.taco-main--content--section__sizes .taco-main--content--books--book--prices--price__before-discount+.taco-main--content--books--book--prices--price {
	font-family:'Gotham Rounded A', 'Gotham Rounded B';
	font-weight:500!important;
	font-style:normal!important
}
.taco-main--content--section__sizes .taco-main--content--books--book--prices--price__before-discount::after {
content:'';
border-bottom:4px solid #29c7ae;
position:absolute;
left:0;
top:40%;
width:100%;
-webkit-transform:rotate(10deg);
-moz-transform:rotate(10deg);
-ms-transform:rotate(10deg);
-o-transform:rotate(10deg);
transform:rotate(10deg)
}
.taco-main--content--section__sizes .taco-main--content--books--book--name {
	text-transform:uppercase;
	padding-top:8px
}
.taco-main--content--section__sizes .taco-main--content--books--book--name em {
	color:#8f9396
}
.taco-main--content--books--book--popup {
	padding:10px 16px;
	width:290px;
	font-size:13px;
	color:white;
	float:left;
	line-height:22px
}
.taco-main--content--books--book--popup--left {
	float:left
}
.taco-main--content--books--book--popup--right {
	float:right;
	text-align:right
}
.taco-main--content--section__materials {
	position:relative;
	margin-top:-232px;
	text-align:right
}
.taco-main--content--section__materials .taco-main--content--text {
	text-align:left;
	position:absolute;
	top:152px;
	left:0;
	width:100%
}
.taco-main--content--section__materials .taco-main--content--text--container {
	position:relative;
	top:0;
	left:7.14286%
}
.taco-main--content--section__materials .taco-main--content--text--border {
	background:url(//static0.montagebook.com/images/cells/taco-main/materials-border-detail.png) right top no-repeat;
	width:35.71429%;
	height:13px;
	margin-top:80px
}
.taco-main--content--section__materials .taco-main--content--image {
	width:64.28571%;
	max-width:1028px;
	display:inline-block
}
.taco-main--content--section__materials .taco-main--content--image img {
	max-width:100%;
	max-height:100%
}
.taco-main--content--section__materials .taco-main--content--image--smaller, .taco-main--content--section__materials .taco-main--content--image--smallest {
	display:none
}
.taco-main--content--section__shipping {
	position:relative;
	margin-top:-64px
}
.taco-main--content--section__shipping .taco-main--content--text {
	text-align:left;
	position:relative;
	left:7.14286%
}
.taco-main--content--section__shipping .taco-main--content--image {
	width:100%;
	position:relative;
	margin-top:72px;
	height:279px
}
.taco-main--content--section__shipping .taco-main--content--subtitle {
	width:42.85714%
}
.taco-main--content--section__shipping .taco-main--content--image--cityscape {
	width:100%;
	background-image:url(../images/ani/cityscape.png)!important;
	background-repeat:repeat-x;
	height:279px;
	position:absolute;
	top:0;
	background-position:0 0;
	-webkit-animation-name:cityscape;
	-moz-animation-name:cityscape;
	-ms-animation-name:cityscape;
	-o-animation-name:cityscape;
	animation-name:cityscape;
	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
	-ms-animation-timing-function:linear;
	-o-animation-timing-function:linear;
	animation-timing-function:linear;
	-webkit-animation-duration:14s;
	-moz-animation-duration:14s;
	-ms-animation-duration:14s;
	-o-animation-duration:14s;
	animation-duration:14s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	animation-iteration-count:infinite
}
.taco-main--content--section__shipping .taco-main--content--image--lamposts {
	background-image:url(../images/ani/lamps.png);
	width:100%;
	height:216px;
	position:absolute;
	background-repeat:repeat-x;
	background-position:0 0;
	top:63px;
	-webkit-animation-name:lamposts;
	-moz-animation-name:lamposts;
	-ms-animation-name:lamposts;
	-o-animation-name:lamposts;
	animation-name:lamposts;
	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
	-ms-animation-timing-function:linear;
	-o-animation-timing-function:linear;
	animation-timing-function:linear;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	animation-iteration-count:infinite
}
.taco-main--content--section__shipping .taco-main--content--image--wheels {
	background-image:url(../images/ani/wheel.png)!important;
	width:240px;
	height:51px;
	position:absolute;
	left:50%;
	top:229px;
	margin-left:-395px;
	background-repeat:no-repeat
}
.taco-main--content--section__shipping .taco-main--content--image--truck {
	background-image:url(../images/ani/truck.png)!important;
	width:308px;
	height:148px;
	position:absolute;
	background-repeat:no-repeat;
	left:50%;
	top:105px;
	margin-left:-431px;
	-webkit-animation-name:truck;
	-moz-animation-name:truck;
	-ms-animation-name:truck;
	-o-animation-name:truck;
	animation-name:truck;
	-webkit-animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);
-webkit-animation-duration:.8s;
-moz-animation-duration:.8s;
-ms-animation-duration:.8s;
-o-animation-duration:.8s;
animation-duration:.8s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	animation-iteration-count:infinite
}
.taco-main--content--section__shipping .taco-main--content--image--road {
	width:100%;
	height:4px;
	background:#39444c;
	position:absolute;
	top:275px
}
.taco-main--content--section__layflat {
	margin-top:8px;
	padding-bottom:0;
	text-align:center
}
.taco-main--content--section__layflat .taco-main--content--title, .taco-main--content--section__layflat .taco-main--content--subtitle {
	margin-left:auto;
	margin-right:auto
}
.taco-main--content--section__layflat .taco-main--content--image-wrapper {
	margin-top:10.286em;
	text-align:center;
	width:100%;
	position:relative
}
.taco-main--content--section__layflat .taco-main--content--image {
	width:100%;
	max-width:1600px;
	display:inline-block;
	position:relative;
	z-index:1
}
.taco-main--content--section__layflat .taco-main--content--image img {
	max-width:100%;
	vertical-align:bottom
}
.taco-main--content--section__layflat .taco-main--content--image-tiles {
	position:absolute;
	top:0;
	left:0;
	height:761px;
	background:url(//static2.montagebook.com/images/cells/taco-main/layflat-tile-detail.jpg) left top repeat-x;
	width:100%
}
.taco-main--content--footer {
	position:relative;
	background:black;
	margin-top:-2px
}
.taco-main--content--footer--shadow {
	background-image:-webkit-gradient(radial, 50% 100%, 0, 50% 100%, 80, color-stop(0%, rgba(57, 68, 76, 0.6)), color-stop(80%, rgba(57, 68, 76, 0)));
	background-image:-webkit-radial-gradient(center bottom, circle, rgba(57, 68, 76, 0.6) 0, rgba(57, 68, 76, 0) 80%);
	background-image:-moz-radial-gradient(center bottom, circle, rgba(57, 68, 76, 0.6) 0, rgba(57, 68, 76, 0) 80%);
	background-image:-o-radial-gradient(center bottom, circle, rgba(57, 68, 76, 0.6) 0, rgba(57, 68, 76, 0) 80%);
	background-image:radial-gradient(center bottom, circle, rgba(57, 68, 76, 0.6) 0, rgba(57, 68, 76, 0) 80%);
	bottom:0;
	position:absolute;
	pointer-events:none;
	left:0;
	width:100%;
	z-index:1
}
.taco-main--content--footer--separator {
	background-color:rgba(255, 255, 255, 0.16);
	height:1px;
	left:7.14286%;
	overflow:hidden;
	margin:88px 0;
	position:relative;
	width:85.71429%
}
.taco-main--content--footer--content {
	color:#e3e6e5;
	position:relative;
	text-align:center
}
.taco-main--content--footer--content h2 {
	font-family:'Gotham Rounded A', 'Gotham Rounded B';
	font-weight:300!important;
	font-style:normal!important;
	font-size:2.857em;
	line-height:1.2em;
	margin:0 auto 16px;
	width:57.14286%
}
.taco-main--content--footer--quotes {
	position:relative
}
.taco-main--content--footer--quotes h2 {
	margin-bottom:16px;
	width:71.42857%
}
.taco-main--content--footer--quotes--carousel {
	background:url(//static0.montagebook.com/images/cells/taco-main/quotes.png) 25% 0 no-repeat;
	background:url(//static0.montagebook.com/images/cells/taco-main/quotes.png) calc(50% - 300px) 0 no-repeat;
	background:url(//static0.montagebook.com/images/cells/taco-main/quotes.png) -moz-calc(50% - 300px) 0 no-repeat;
	background:url(//static0.montagebook.com/images/cells/taco-main/quotes.png) -webkit-calc(50% - 300px) 0 no-repeat;
	padding-top:21px
}
.taco-main--content--footer--quotes--carousel .owl-carousel {
	z-index:initial
}
.taco-main--content--footer--quotes--carousel .owl-carousel .owl-wrapper-outer {
	overflow:visible
}
.taco-main--content--footer--quotes--carousel .owl-carousel .owl-controls {
	margin-top:46px
}
.taco-main--content--footer--quotes--carousel .owl-carousel .owl-dot {
	width:10px;
	height:10px;
	border-radius:10px;
	border:2px solid #343536;
	display:inline-block;
	margin:0 8px
}
.taco-main--content--footer--quotes--carousel .owl-carousel .owl-dot.active {
	background-color:#343536
}
.taco-main--content--footer--quotes--carousel p.quote {
	font-size:1.429em;
	color:#a9b2b8;
	line-height:1.5em
}
.taco-main--content--footer--quotes--carousel p.author {
	margin-top:16px;
	font-size:1.143em;
	color:#676d70;
	line-height:1.5em
}
.taco-main--content--footer--quotes--carousel--quote {
	width:600px
}
.taco-main--content--footer--quotes--shadow-left, .taco-main--content--footer--quotes--shadow-right {
	display:none
}
.taco-main--content--footer--logo, .taco-main--content--footer--buttons, .taco-main--content--footer--links {
	z-index:2;
	position:relative
}
.taco-main--content--footer--logo {
	width:140px;
	height:56px;
	display:block;
	margin:88px auto;
	background:url(//static1.montagebook.com/images/cells/taco-main/footer-logo.png) top left no-repeat
}
.taco-main--content--footer--logo__gma {
	width:316px;
	height:56px;
	background-image:url(//static0.montagebook.com/images/cells/taco-main/footer-logo-gma.png)
}
.taco-main--content--footer--buttons {
	margin-top:72px
}
.taco-main--content--footer--buttons h2 {
	margin-bottom:48px
}
.taco-main--content--footer--buttons button {
	margin:0 8px
}
.taco-main--content--footer--buttons .taco-main--content--footer--buttons--demo {
	margin-right:8px
}
.taco-main--content--footer--links {
	margin-top:128px;
	border-top:1px solid #3d4144;
	position:relative;
	left:7.14286%;
	width:85.71429%;
	padding-bottom:48px;
	overflow:hidden;
	opacity:.5;
	-webkit-transition:opacity 200ms linear;
	-moz-transition:opacity 200ms linear;
	-o-transition:opacity 200ms linear;
	transition:opacity 200ms linear
}
.taco-main--content--footer--links:hover {
	opacity:1
}
.taco-main--content--footer--link {
	margin:1.25em 1.5em;
	text-transform:uppercase;
	font-size:1.143em;
	display:block;
	text-decoration:none;
	color:white
}
.taco-main--content--footer--link__text {
	float:left;
	line-height:25px
}
.taco-main--content--footer--link__facebook {
	float:right;
	width:25px;
	height:25px;
	background:url(//static0.montagebook.com/images/cells/taco-main/footer-facebook.png) top left no-repeat;
	text-indent:-119988px;
	overflow:hidden;
	text-align:left
}
.taco-main--content--footer--link__text, .taco-main--content--footer--link__facebook {
	opacity:.5
}
.taco-main--content--footer--link__text:hover, .taco-main--content--footer--link__facebook:hover {
	opacity:.75
}
.taco-main--content--footer--link__text:active, .taco-main--content--footer--link__facebook:active {
	opacity:.2
}
.taco-main--login-popup {
	background-color:#e9e9e9;
	border:1px solid #d1d2d3;
	border-radius:4px
}
.taco-main--login-popup--wrapper {
	margin-left:40px;
	margin-right:-40px;
	padding:40px 0
}
.taco-main--mouse-check-popup {
	background-color:#f1f1f1;
	border:1px solid #d1d2d3;
	border-radius:4px
}
.ie8 .taco-main .taco-main--header--login, .ie9 .taco-main .taco-main--header--login {
	display:none
}
.ie8 .taco-main .taco-main--header--login__fallback, .ie9 .taco-main .taco-main--header--login__fallback {
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
*vertical-align:auto;
	zoom:1;
*display:inline
}
.ie8 .taco-main .taco-main--drop-menu {
	top:-104px;
	height:104px
}
.ie8 .taco-main .taco-main--drop-menu.is-visible {
	top:0
}
@media(min-width:960px) and (max-width:1135px), (min-width:1135px) and (max-height:725px) {
.taco-main--button__big {
font-size:1em;
padding:0 1.143em
}
.taco-main--header--title {
font-size:2.571em;
line-height:1.222em
}
.taco-main--header--subtitle {
font-size:1.1em
}
.taco-main--drop-menu--container {
left:0;
right:0
}
.taco-main--content--subtitle {
width:42.85714%
}
.taco-main--content--section__magic .taco-main--content--image {
position:relative;
left:50%;
margin-left:-567px;
background:url(//static0.montagebook.com/images/cells/taco-main/magic-detail-smaller.jpg) left top no-repeat;
width:1135px;
height:258px;
margin-top:80px
}
.taco-main--content--section__materials .taco-main--content--image {
max-width:800px;
width:50%
}
.taco-main--content--section__materials .taco-main--content--image--original {
display:none
}
.taco-main--content--section__materials .taco-main--content--image--smaller {
display:inline
}
.taco-main--content--section__materials .taco-main--content--text--border {
margin-top:40px
}
.taco-main--content--footer--text {
width:57.14286%
}
.taco-main--content--sizes {
display:none
}
.taco-main--content--section__sizes .taco-main--content--books--book__6 {
background:url(//static0.montagebook.com/images/cells/taco-main/book-large-detail.png) left bottom no-repeat;
background-size:contain;
width:158px;
height:156px;
margin-left:-79px
}
.taco-main--content--section__sizes .taco-main--content--books--book__8 {
background:url(//static0.montagebook.com/images/cells/taco-main/book-large-detail.png) left bottom no-repeat;
background-size:contain;
width:211px;
height:209px;
margin-left:-106px
}
.taco-main--content--section__sizes .taco-main--content--books--book__10 {
background:url(//static0.montagebook.com/images/cells/taco-main/book-large-detail.png) left bottom no-repeat;
background-size:contain;
width:263px;
height:261px;
margin-left:-132px
}
.taco-main--content--section__sizes .taco-main--content--books--book__12 {
background:url(//static0.montagebook.com/images/cells/taco-main/book-large-detail.png) left bottom no-repeat;
background-size:contain;
width:316px;
height:313px;
margin-left:-158px
}
}
@media(max-width:960px) {
.taco-main.is-touch .taco-main--drop-menu {
top:0;
height:5.857em;
-webkit-transform:translateY(-5.857em);
-moz-transform:translateY(-5.857em);
-ms-transform:translateY(-5.857em);
-o-transform:translateY(-5.857em);
transform:translateY(-5.857em)
}
.taco-main.is-touch .taco-main--drop-menu.is-visible {
-webkit-transform:translateY(0);
-moz-transform:translateY(0);
-ms-transform:translateY(0);
-o-transform:translateY(0);
transform:translateY(0)
}
.taco-main--content-top, .taco-main--header-links, .taco-main--header--subtitle, .taco-main--header--buttons, .taco-main--header--login, .taco-main--header--login__fallback {
display:none
}
.taco-main--header, .taco-main--header--logo, .taco-main--header--content, .taco-main--header--text, .taco-main--header--image, .taco-main--content {
position:static
}
.taco-main--button__demo--text {
background-image:url(//static0.montagebook.com/images/cells/taco-main/arrow-right-smallest@2x.png)
}
.taco-main--button__demo__dark--text {
background-image:url(//static3.montagebook.com/images/cells/taco-main/arrow-right-white-smallest@2x.png)
}
.taco-main--header--logo {
margin:3.857em auto 3.857em
}
.taco-main--header--logo.taco-main--header--logo__original {
width:220px;
height:88px;
background:url(//static0.montagebook.com/images/cells/taco-main/header-logo-smallest@2x.png) top left no-repeat
}
.taco-main--header {
padding-bottom:0
}
.taco-main--header--title, .taco-main--header--title--pro {
margin:0 12.5%;
width:auto;
text-align:center
}
.taco-main--header--title--pro {
font-size:1.7em
}
.taco-main--header--title--pro ul {
margin:0
}
.taco-main--header--title--pro li span, .taco-main--header--title--pro li small {
display:none
}
.taco-main--header--title--pro p {
width:60%;
margin:0 auto
}
.taco-main--header--image {
margin:3.857em 0;
width:100%;
max-width:960px
}
.taco-main--header--image:before, .taco-main--header--image::before {
content:'';
display:inline-block;
height:100%;
vertical-align:bottom
}
.taco-main--header--image img {
max-width:100%;
max-height:100%;
display:inline-block;
vertical-align:bottom
}
.taco-main--header--text--wrapper {
text-align:center
}
.taco-main--header--learn-more {
height:2.5em;
border-radius:1.250em;
font-size:2.286em;
margin:40px auto 0;
background:none;
border:.063em solid #39444c;
background:url(//static1.montagebook.com/images/cells/taco-main/arrow-down-smallest@2x.png) .9em 1em no-repeat;
padding:0 .938em 0 2.063em;
cursor:pointer;
text-decoration:none;
display:inline-block;
line-height:2.5em;
color:black
}
.taco-main--drop-menu {
top:0;
height:5.857em;
-webkit-transform:translateY(-5.857em);
-moz-transform:translateY(-5.857em);
-ms-transform:translateY(-5.857em);
-o-transform:translateY(-5.857em);
transform:translateY(-5.857em)
}
.taco-main--drop-menu.is-visible {
-webkit-transform:translateY(0);
-moz-transform:translateY(0);
-ms-transform:translateY(0);
-o-transform:translateY(0);
transform:translateY(0)
}
.taco-main--drop-menu--container {
top:.571em;
bottom:.571em
}
.taco-main--drop-menu--buttons {
width:100%;
text-align:center;
white-space:nowrap;
font-size:1.8em
}
.taco-main--drop-menu--buttons .taco-main--request, .taco-main--drop-menu--buttons .taco-main--button__email {
margin-top:0
}
.taco-main--drop-menu--buttons .taco-main--button__email {
font-size:1em
}
.taco-main--drop-menu--buttons--start, .taco-main--drop-menu--buttons--demo {
width:auto;
margin:0 .5em
}
.taco-main--drop-menu--outer-wrapper {
display:none
}
.taco-main--content--title {
font-size:2.857em;
line-height:1.225em;
margin:0!important;
left:0!important;
width:100%!important
}
.taco-main--content--section__magic .taco-main--content--title {
left:0!important;
width:100%!important
}
.taco-main--content--subtitle {
font-size:2em;
line-height:1.286em;
margin:8px 0 0!important
}
.taco-main--content--subtitle--desktop {
display:none
}
.taco-main--content--subtitle--mobile {
display:block
}
.taco-main--content--title, .taco-main--content--subtitle {
text-align:center;
position:relative;
left:12.5%!important;
width:75%!important
}
.taco-main--content--section__magic {
padding-top:12em
}
.taco-main--content--section__magic .taco-main--content--image {
position:relative;
left:50%;
margin-left:-480px;
background:url(//static0.montagebook.com/images/cells/taco-main/magic-detail-smallest@2x.jpg) left top no-repeat;
width:960px;
height:250px;
margin-top:5.714em
}
.taco-main--content--section__sizes .taco-main--content--title {
width:82%!important;
left:8%!important
}
.taco-main--content--section__sizes .taco-main--content--books--book__6 {
bottom:222px;
left:14.8%
}
.taco-main--content--section__sizes .taco-main--content--books--book__8 {
bottom:226px;
left:29.9%
}
.taco-main--content--section__sizes .taco-main--content--books--book__10 {
bottom:230px;
left:50%
}
.taco-main--content--section__sizes .taco-main--content--books--book__12 {
bottom:234px;
left:71%
}
.taco-main--content--books--book--prices, .taco-main--content--books--book--name {
display:none
}
.taco-main--content--sizes {
margin:48px auto 0;
border:solid #e5e5e5;
border-width:.286em 0;
width:84%;
display:table
}
.taco-main--content--pricing-toggle {
float:none;
right:0;
font-size:1.7em;
margin:3em auto -4.5em
}
.taco-main--content--pricing-toggle span>:first-child {
padding-right:2%;
margin-right:2%;
width:48%
}
.taco-main--content--pricing-toggle span>:nth-child(2) {
width:auto
}
.taco-main--content--pricing-toggle span a {
text-decoration:underline
}
.taco-main--content--sizes__silver-halide {
display:none
}
.taco-main--content--section__silver-halide .taco-main--content--sizes__silver-halide {
display:table
}
.taco-main--content--section__silver-halide .taco-main--content--sizes__digital-press {
display:none
}
.taco-main--content--sizes--content {
display:table-row;
width:100%
}
.taco-main--content--sizes--size {
text-transform:uppercase;
font-size:1.714em;
line-height:1.667em;
width:25%;
display:table-cell;
text-align:center;
padding:80px 0 24px
}
.taco-main--content--sizes--size--size {
display:none
}
.taco-main--content--sizes--size--name {
font-family:'Gotham A', 'Gotham B';
font-weight:700!important;
font-style:normal!important;
text-indent:24px
}
.taco-main--content--sizes--size--measure {
color:#8f9396
}
.taco-main--content--sizes--size--price {
font-family:'Gotham Rounded A', 'Gotham Rounded B';
font-weight:300!important;
font-style:normal!important;
font-size:2.3em;
line-height:1.063em
}
.taco-main--content--section__materials {
margin-top:-12.571em
}
.taco-main--content--section__materials .taco-main--content--text, .taco-main--content--section__materials .taco-main--content--text--container {
position:static
}
.taco-main--content--section__materials .taco-main--content--text--border {
display:none
}
.taco-main--content--section__materials .taco-main--content--image {
width:100%;
margin-top:16px;
display:inline-block
}
.taco-main--content--section__materials .taco-main--content--image img {
max-width:100%;
max-height:100%
}
.taco-main--content--section__materials .taco-main--content--image--original {
display:none
}
.taco-main--content--section__materials .taco-main--content--image--smallest {
display:inline
}
.taco-main--content--section__shipping {
margin-top:0
}
.taco-main--content--section__shipping .taco-main--content--text {
position:static
}
.taco-main--content--section__shipping .taco-main--content--image--wheels {
margin-left:-118px
}
.taco-main--content--section__shipping .taco-main--content--image--truck {
margin-left:-154px
}
.taco-main--content--image-tiles {
display:none
}
.taco-main--content--footer--quotes h2 {
font-size:2.5em
}
.taco-main--content--footer h2 {
width:75%;
font-family:'Gotham Rounded A', 'Gotham Rounded B';
font-weight:300!important;
font-style:normal!important
}
.taco-main--content--footer--logo.taco-main--content--footer--logo__original {
width:221px;
height:102px;
background:url(//static0.montagebook.com/images/cells/taco-main/footer-logo-smallest@2x.png) top left no-repeat
}
.taco-main--content--footer--buttons .taco-main--button__start, .taco-main--content--footer--buttons .taco-main--button__demo {
font-size:1.8em;
width:15em;
margin-bottom:1.143em
}
}
@media all and (min-width:961px) {
.taco-main--content--footer--quotes--shadow-left, .taco-main--content--footer--quotes--shadow-right {
position:absolute;
top:88px;
width:20%;
pointer-events:none;
display:block
}
.taco-main--content--footer--quotes--shadow-left {
background-image:-webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000), color-stop(100%, transparent));
background-image:-webkit-linear-gradient(left, #000, transparent);
background-image:-moz-linear-gradient(left, #000, transparent);
background-image:-o-linear-gradient(left, #000, transparent);
background-image:linear-gradient(left, #000, transparent);
left:0
}
.taco-main--content--footer--quotes--shadow-right {
background-image:-webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, transparent), color-stop(100%, #000));
background-image:-webkit-linear-gradient(left, transparent, #000);
background-image:-moz-linear-gradient(left, transparent, #000);
background-image:-o-linear-gradient(left, transparent, #000);
background-image:linear-gradient(left, transparent, #000);
right:0
}
}
@media(max-width:640px) {
.taco-main {
font-size:7px
}
.taco-main--header--title, .taco-main--header--title--pro {
margin:0 7.5%
}
.taco-main--header--title--pro {
font-size:2.5em
}
.taco-main--header--logo.taco-main--header--logo__original {
background-image:url(//static0.montagebook.com/images/cells/taco-main/header-logo-smallest.png);
width:110px;
height:44px
}
.taco-main--button__demo--text {
background-image:url(//static2.montagebook.com/images/cells/taco-main/arrow-right-smallest.png)
}
.taco-main--button__demo__dark--text {
background-image:url(//static0.montagebook.com/images/cells/taco-main/arrow-right-white-smallest.png)
}
.taco-main--header--learn-more {
background-image:url(//static0.montagebook.com/images/cells/taco-main/arrow-down-smallest.png)
}
.taco-main--content--section__magic .taco-main--content--image {
background-image:url(//static0.montagebook.com/images/cells/taco-main/magic-detail-smallest.jpg);
width:480px;
height:125px;
margin-left:-240px
}
.taco-main--button__email--completed {
background-image:url(//static0.montagebook.com/images/cells/taco-main/completed.png)
}
.taco-main--button__demo__dark--text {
background-image:url(//static0.montagebook.com/images/cells/taco-main/arrow-right-white-smallest.png)
}
.taco-main--content--section__sizes .taco-main--content--title span {
display:none
}
.taco-main--content--section__sizes .taco-main--content--sizes--size--size {
display:block
}
.taco-main--content--section__sizes .taco-main--content--sizes--size--name {
text-indent:2px
}
.taco-main--content--section__sizes .taco-main--content--books--shelf {
height:122px;
background-image:url(//static1.montagebook.com/images/cells/taco-main/shelf-smallest.jpg)
}
.taco-main--content--section__sizes .taco-main--content--books {
height:342px
}
.taco-main--content--section__sizes .taco-main--content--books--book {
bottom:114px
}
.taco-main--content--section__sizes .taco-main--content--books--book__6 {
background:url(//static0.montagebook.com/images/cells/taco-main/book-large-detail.png) left bottom no-repeat;
background-size:contain;
width:99px;
height:98px;
margin-left:-50px;
left:15.8%
}
.taco-main--content--section__sizes .taco-main--content--books--book__8 {
background:url(//static0.montagebook.com/images/cells/taco-main/book-large-detail.png) left bottom no-repeat;
background-size:contain;
width:132px;
height:130px;
margin-left:-66px;
left:32.9%
}
.taco-main--content--section__sizes .taco-main--content--books--book__10 {
background:url(//static0.montagebook.com/images/cells/taco-main/book-large-detail.png) left bottom no-repeat;
background-size:contain;
width:165px;
height:163px;
margin-left:-83px;
left:55%
}
.taco-main--content--section__sizes .taco-main--content--books--book__12 {
background:url(//static0.montagebook.com/images/cells/taco-main/book-large-detail.png) left bottom no-repeat;
background-size:contain;
width:198px;
height:196px;
margin-left:-99px;
left:75%
}
.taco-main--content--section__sizes .taco-main--content--sizes--size {
padding:44px 0 24px
}
.taco-main--content--section__sizes .taco-main--content--pricing-toggle {
margin:3em auto -6.5em
}
.taco-main--content--section__shipping .taco-main--content--image {
height:140px
}
.taco-main--content--section__shipping .taco-main--content--image--cityscape {
background-image:url(//static0.montagebook.com/images/cells/taco-main/shipping-cityscape-smallest.png);
height:140px;
 background-size: 216% auto;
}
.taco-main--content--section__shipping .taco-main--content--image--lamposts {
background-image:url(//static3.montagebook.com/images/cells/taco-main/shipping-lamposts-smallest.png);
height:108px;
top:32px
}
.taco-main--content--section__shipping .taco-main--content--image--wheels {
background-image:url(//static1.montagebook.com/images/cells/taco-main/shipping-wheels-smallest.png);
width:120px;
height:26px;
top:115px;
margin-left:-59px;
background-size:100%;
}
.taco-main--content--section__shipping .taco-main--content--image--truck {
background-image:url(//static0.montagebook.com/images/cells/taco-main/shipping-truck-smallest.png);
width:154px;
height:74px;
background-size:100%;
top:52px;
margin-left:-77px
}
.taco-main--content--section__shipping .taco-main--content--image--road {
height:2px;
top:138px
}
.taco-main--content--footer--quotes--carousel {
background-position:5% 0
}
.taco-main--content--footer--quotes--carousel .owl-carousel .owl-controls {
margin-top:16px
}
.taco-main--content--footer--quotes--carousel p {
padding:0 160px
}
.taco-main--content--footer--separator {
margin:64px 0
}
.taco-main--content--footer--logo.taco-main--content--footer--logo__original {
width:111px;
height:51px;
background-image:url(//static0.montagebook.com/images/cells/taco-main/footer-logo-smallest.png);
margin:64px auto
}
}
@media only screen and (max-width:640px) and (-webkit-min-device-pixel-ratio:2), only screen and (max-width:640px) and (min--moz-device-pixel-ratio:2), only screen and (max-width:640px) and (-o-min-device-pixel-ratio:2 / 1), only screen and (max-width:640px) and (min-device-pixel-ratio:2), only screen and (max-width:640px) and (min-resolution:192dpi), only screen and (max-width:640px) and (min-resolution:2dppx) {
.taco-main--header--logo.taco-main--header--logo__original {
background-image:url(//static0.montagebook.com/images/cells/taco-main/header-logo-smallest@2x.png);
background-size:110px 44px
}
.taco-main--button__demo--text {
background-image:url(//static0.montagebook.com/images/cells/taco-main/arrow-right-smallest@2x.png);
background-size:8px 13px
}
.taco-main--button__demo__dark--text {
background-image:url(//static3.montagebook.com/images/cells/taco-main/arrow-right-white-smallest@2x.png);
background-size:8px 13px
}
.taco-main--button__email--completed {
background-image:url(//static2.montagebook.com/images/cells/taco-main/completed@2x.png);
background-size:13px 9px
}
.taco-main--header--learn-more {
background-image:url(//static1.montagebook.com/images/cells/taco-main/arrow-down-smallest@2x.png);
background-size:12px 8px
}
.taco-main--content--section__magic .taco-main--content--image {
background-image:url(//static0.montagebook.com/images/cells/taco-main/magic-detail-smallest@2x.jpg);
background-size:480px 125px
}
.taco-main--content--section__sizes .taco-main--content--books--shelf {
background-image:url(//static0.montagebook.com/images/cells/taco-main/shelf.jpg);
background-size:10px 122px
}
.taco-main--content--section__shipping .taco-main--content--image--cityscape {
background-image:url(../images/ani/cityscape.png);
background-size:700px 140px
}
.taco-main--content--section__shipping .taco-main--content--image--lamposts {
background-image:url(../images/ani/lamps.png);
background-size:349px 108px
}
.taco-main--content--section__shipping .taco-main--content--image--wheels {
background-image:url(../images/ani/wheel.png);
background-size:120px 24px
}
.taco-main--content--section__shipping .taco-main--content--image--truck {
background-image:url(../images/ani/truck.png);
background-size:154px 74px
}
.taco-main--content--footer--logo {
background-image:url(//static0.montagebook.com/images/cells/taco-main/footer-logo-smallest@2x.png);
background-size:111px 51px
}
}
