body { margin:0px; padding:0px; background-color:#252525; color:#FFF; font-family:'opensans_lgt',Arial, Helvetica, sans-serif; }

.titls{ height:20px; padding:15px; line-height:20px; background-color:#ff5500;}

.titls span{ font-size:18px; float:left; width:200px;  font-family:'opensans_bld',Arial, Helvetica, sans-serif;}

.prfrm{ padding:30px 15px 0px 15px}

.prrw{ width:100%; float:left; margin-bottom:20px;}

.partfrm{ }

.plf{ width:150px; padding-top:8px;  font-family:'opensans_bld',Arial, Helvetica, sans-serif;  float:left; text-align:right; padding-right:30px;}

.plr{ width:350px; float:left; }

.cls{ background-image:url(../images/cls.png); width:17px; height:17px; background-repeat:no-repeat; float:right;}

.inps{ width:310px; font-family:'opensans_bld',Arial, Helvetica, sans-serif; height:20px; font-size:16px; color:#333; padding:9px 15px; border:0px; background:#d7d7d7}

.submtn{ width:auto; padding-left:30px; padding-right:30px; height:50px; background-color:#ff5500; border-left:0px; border-bottom:0px; border-top:3px solid #0e0e0e; border-right:2px solid #0e0e0e; font-family:'opensans_lgt',Arial, Helvetica, sans-serif; color:#ffffff; font-weight:normal; font-size:22px; }

.formbtn{ text-align:center; padding-top:10px; width:100%; float:left}




.prfrm  .slefb  {
  background: #d7d7d7 none repeat scroll 0 0;
  border: 0 none;
  color: #333;
  font-family: "opensans_bld",Arial,Helvetica,sans-serif;
  font-size: 16px;
  height:41px;
  padding: 9px 15px;
  width: 340px;
}

@media (max-width:630px) {


.plf {
  float: left;
  font-family: "opensans_bld",Arial,Helvetica,sans-serif;
  font-size: 11px;
  left: 0;
  padding-right: 0;
  padding-top: 8px;
  text-align: left;
  width: 35%;
}
.plr {
  float: left;
  width: 65%;
}
.prfrm .slefb {
  background: #d7d7d7 none repeat scroll 0 0;
  border: 0 none;
  color: #333;
  font-family: "opensans_bld",Arial,Helvetica,sans-serif;
  font-size: 13px!important;
  height: auto!important;
  padding: 5px 10px!important;
  width: 100%!important;
}
.inps {
  background: #d7d7d7 none repeat scroll 0 0;
  border: 0 none;
  box-sizing: border-box !important;
  color: #333;
  font-family: "opensans_bld",Arial,Helvetica,sans-serif;
  font-size: 13px!important;
  height: auto!important;
  padding: 5px 10px!important;
  width: 100%!important;
}
}